/*====== RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/*==== VARIABLES ====*/
:root {
  /* colors */

  /* fonts */
  --title-font-size: 1.5rem;
  --text-font-size: 1rem;

  --title-font: 'Poppins', sans-serif;
  --body-font: 'Poppins', sans-serif;
}

/*=== BASE ===*/

body {
  padding: 1.5rem;
  font: 500 1rem var(--body-font);
  color: white;
  background: purple;
  -webkit-font-smoothing: antialiased;
}

.title {
  font: 800 var(--title-font-size) var(--title-font);
  -webkit-font-smoothing: antialiased;
}

body p {
  font: 300 var(--text-font-size) var(--body-font);
}

/* layout 
.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}*/

.section {
  padding: 4rem 0;
}

/* HEATHER */

#header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: orange;
  width: 100%;
  padding: 1rem;
}

.logo {
  font: 900 2rem var(--title-font);
  color: purple;
  padding-left: 1.5rem;
}

.logo span {
  color: white;
}

/* E-BOOK */
#ebook {
  padding-top: 5rem;
}

#ebook .button {
  background-color: orange;
  color: purple;
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  height: 3.5rem;
  font: 700 var(--title-font-size) var(--title-font);
}

/* CADASTRO */

#cadastro {
  background-color: red;
}

#cadastro .container {
  position: relative;
  height: 560px;
  padding: 0 4rem;
  display: block;
}

.text h3 {
  font: 500 1.125rem var(--body-font);
  text-align: center;
}

.container .campos {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.campos li {
  font: 500 1rem var(--body-font);
}
.campos input {
  height: 2rem;
  width: 17.5rem;
  
}
