/*====== RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/*==== VARIABLES ====*/
:root {
  /* colors */

  /* fonts */
  --title-font-size: 1.5rem;
  --text-font-size: 1rem;

  --title-font: 'Poppins', sans-serif;
  --body-font: 'Poppins', sans-serif;
}

/*=== BASE ===*/

body {
  padding: 1.5rem 0 0 0;
  font: 500 1rem var(--body-font);
  color: white;
  background: purple;
  -webkit-font-smoothing: antialiased;
}

.title {
  font: 800 var(--title-font-size) var(--title-font);
  -webkit-font-smoothing: antialiased;
}

body p {
  font: 300 var(--text-font-size) var(--body-font);
}

.text {
  padding: 1.5rem;
}
/* layout 
.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}*/

.section {
  padding: 4rem 0;
}

/* HEATHER */

#header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: orange;
  width: 100%;
  padding: 1rem;
}

.logo {
  font: 900 2rem var(--title-font);
  color: purple;
  padding-left: 1.5rem;
}

.logo span {
  color: white;
}

/* E-BOOK */
#ebook {
  padding-top: 5rem;
}

#ebook a {
  position: absolute;
  top: 59rem;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

#ebook .button {
  background-color: orange;
  color: purple;
  display: inline-flex;
  align-items: center;
  padding: 0 1rem;
  height: 3.5rem;
  font: 700 1.5rem var(--title-font);
}

/* CADASTRO */

fieldset {
  border: 0;
}

#cadastro {
  background-color: white;
  height: 560px;
  padding: 2rem 1rem;
  text-align: center;
}

#cadastro h1 {
  font: 800 var(--title-font-size) var(--title-font);
  color: black;
  -webkit-font-smoothing: antialiased;
}

#cadastro form {
  padding: 1rem;
}

#cadastro label {
  font: 300 var(--text-font-size) var(--body-font);
  color: black;
}

.campos input {
  height: 2rem;
  width: 17.5rem;
}

#consentimento {
  padding: 0.5rem 0;
}

#consentimento label {
  font: 300 0.75rem var(--body-font);
  color: black;
  padding: 0.5rem 0.5rem;
  width: 260px;
  height: 54px;
}

label .celular {
}

#cadastro .button {
  background-color: purple;
  color: white;
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  height: 3.5rem;
  font: 700 var(--text-font-size) var(--title-font);
}

/* FOOTER */

#rodape {
  background: orange;
  padding: 1.5rem 0;
  height: 14rem;
}

#rodape p {
  padding: 1.5rem 1.5rem;
}
